/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1330px;
  margin: auto;
  padding: 0 25px;
}

/* Header styles */
.header {
  background: radial-gradient(ellipse at top, #e66465, transparent),
              radial-gradient(ellipse at bottom, #4d9f0c, transparent);
  padding: 20px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar li {
  margin-right: 20px;
}

.menu {
  display: none;
  width: 28px;
  margin-left: 20px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 500px;
}

.col-2 img {
  max-width: 100%;
  padding: 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #333;
}

.btn {
  display: inline-block;
  background-color: orange;
  color: #fff;
  padding: 21px 65px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background-color: grey;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    margin: 10px 0;
  }

  .menu {
    display: block;
  }

  #MenuItems {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
  }

  #MenuItems.active {
    max-height: 200px;
  }
}
